[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
	branch = 3.3.8
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad
	branch = v2.0.4
[submodule "external/shaderc"]
	path = external/shaderc
	url = https://github.com/google/shaderc
	branch = v2023.6
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = v1.89.9
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
	branch = 0.9.9.8
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
